<h1>Harry Potter</h1>
<div class="container">
  <input
    type="text"
    class="search-space"
    name="filterCharacter"
    placeholder="Search by name..."
    [(ngModel)]="filterCharacter"
  />
</div>

<div class="container">
  <ul>
    <li
      *ngFor="let character of characters | filter: filterCharacter"
      [ngClass]="getHouseBackground(character.house)"
    >
      <p class="name">{{ character.name }}</p>
      <p class="house">{{ character.house }}</p>
      <img
        class="name"
        src="{{ character.image }}"
        alt="{{ character.name }}"
      />
    </li>
  </ul>
</div>
