input {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 1em;
    margin-right: 10px;
    width: 15%;
    height: 200px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    p.name {
      font-weight: bold;
      font-size: 1.2rem;
    }
    p.house {
      text-transform: uppercase;
      font-size: 0.9rem;
      flex-grow: 1;
    }

    img {
      width: 120px;
      height: 150px;
    }
  }
}

.gryffindor {
  background: #7f0909;
}
.slytherin {
  background: #0d6217;
}
.ravenclaw {
  background: #000a90;
}
.hufflepuff {
  background: #eee117;
}
.none {
  background: rgb(238, 238, 238);
}
