/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #3c3c3c;
  padding: 1em 0;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  a.logo {
    font-weight: bold;
  }
  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;
        &:hover {
          background: darken(gray, 10%);
        }
      }
    }
  }
}

h1 {
  margin-top: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
