<h1>Welcome!</h1>
<div class="play-container">
  <p>
    You've clicked
    <span (click)="countClick()">this</span> {{ clickCounter }} times
  </p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name" />
    <br />
    <strong>You said: </strong> {{ name }}
  </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong>IS GREATER</strong> than 4</p></ng-template
  >
  <ng-template #none>
    <p>The click counter <strong>is not greater</strong> than 4</p></ng-template
  >
</div>
